[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
contourpy = "*"
cycler = "*"
fonttools = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pillow = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
six = "*"
threadpoolctl = "*"
tzdata = "*"
xgboost = "*"
lightgbm = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.12"
